<!-- Header de navegación -->
<nav class="header-nav">
  <div class="logo">SERVICONTROL</div>
  <ul class="nav-links">
    <li><a routerLink="/quejas" routerLinkActive="activo">Presentación de Quejas</a></li>
    <li><a routerLink="/estado" routerLinkActive="activo">Estado de Quejas</a></li>
    <li><a routerLink="/gestion" routerLinkActive="activo">Gestión</a></li>
    <li><a routerLink="/dashboard" routerLinkActive="activo">Dashboard</a></li>
    <li><a routerLink="/dashboard" routerLinkActive="activo">Cerrar Sesion</a></li>
  </ul>
</nav>

<!-- Contenedor del formulario -->
<div class="contenedor-quejas">
  <div class="cabecera">
    <h1>Presentación de Quejas</h1>
    <p>Registra tu queja proporcionando los siguientes datos.</p>
  </div>

  <form [formGroup]="quejaForm" (ngSubmit)="enviarQueja()" class="formulario">
    <fieldset>
      <legend>Datos del Denunciante</legend>
      <input type="text" placeholder="Nombre completo" formControlName="nombre" />
      <input type="text" placeholder="Documento de identidad" formControlName="documento" />
      <input type="email" placeholder="Correo electrónico" formControlName="correo" />
      <input type="tel" placeholder="telefono" formControlName="telefono" />
    </fieldset>

    <fieldset>
      <legend>Información de la Queja</legend>
      <select formControlName="tipoServicio">
        <option disabled selected>Tipo de servicio</option>
        <option>Agua</option>
        <option>Luz</option>
        <option>Gas</option>
      </select>

      <select formControlName="empresa">
        <option disabled selected>Empresa prestadora afectado</option>
        <option>Energia</option>
        <option>Agua</option>
        <option>Alcantarillado</option>
        <option>Aseo</option>
      </select>

      <textarea placeholder="Descripción del problema" formControlName="descripcion"></textarea>

      <div class="file-upload">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
        <button type="button" (click)="abrirFileInput()">
          Añadir Archivo
        </button>
      </div>
    </fieldset>

    <div class="botones">
      <button type="submit" class="enviar">Enviar Queja</button>
      <button type="button" class="volver" routerLink="/">Volver al Inicio</button>
    </div>
  </form>

</div>
