<div class="detalles-container">
  <div class="detalles-content">
    
    <div class="detalles-texto">
      <h2>Detalles</h2>
      <p class="intro">
        Descubre cómo Servicontrol optimiza la gestión de quejas en servicios públicos.
      </p>

      <div class="info-box">
        <img src="assets/images/gmail.png" alt="Gmail" class="icono" />
        <div>
          <h4>Recepcion de quejas</h4>
          <p>Los ciudadanos pueden reportar quejas fácilmente a través de correo, web o app.</p>
        </div>
      </div>

      <div class="info-box">
        <img src="assets/images/semaforo.png" alt="Semáforo" class="icono" />
        <div>
          <h4>Monitoreo y control</h4>
          <p>Seguimiento en tiempo real con semáforos de vencimiento y alertas automáticas.</p>
        </div>
      </div>

      <a routerLink="/" class="btn-volver">← Regresar</a>
    </div>

    <div class="detalles-imagen">
      <img src="assets/images/luz.avif" alt="Trabajador poste" />
      <div class="texto-overlay">
        Porque la transparencia y eficiencia en la gestión de quejas es nuestra prioridad.
      </div>
    </div>

  </div>
</div>
